/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.kasi-wrap {
  white-space: normal;
}

.kasi-answer {
  font-weight: bold;
  font-style: italic;
}
