data/**
.idea/**
src/.ipynb_checkpoints/**
src/__pycache__/**
src/kasi-scoring-tool/node_modules/**
.Rproj.user
reports/project/.Rproj.user/**
src/scripts/__pycache__/**
src/scripts/processing/__pycache__/**
src/notebooks/.ipynb_checkpoints/**
src/dist/**
src/scripts/kasi/__pycache__/**
src/scripts/kasi/training/__pycache__/**
src/build/**