.kasi-toolbar-spacer {
  flex: 1 1 auto;
}

.kasi-main-toolbar {
  position: sticky;
  width: 100%;
  top: 0;
  left:0;
  right:0;
  z-index: 1000;
}

.kasi-subtitle {
  margin-left: 10px;
  margin-right: 10px;
}

.kasi-help {
  font-size: 2.5em;
}
