<div class="kasi-main-toolbar">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>KASI Tools</span>
            <span class="kasi-toolbar-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="main_menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #main_menu="matMenu">
                <button mat-menu-item (click)="navigate(AppRoutsRef.Simulator)">
                    <mat-icon>assignment</mat-icon>
                    <span>{{AppNameRef.Simulator}}</span>
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="navigate(AppRoutsRef.LenderEvaluator)">
                    <mat-icon>assignment_ind</mat-icon>
                    <span>{{AppNameRef.LenderEvaluator}}</span>
                </button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar>
        <ng-container *ngIf="activeApp === AppNameRef.LenderEvaluator">
            <mat-icon matTooltip="{{activeApp}}" matTooltipPosition="after">assignment_ind</mat-icon>
            <span class="kasi-subtitle">Evaluator</span>
        </ng-container>
        <ng-container *ngIf="activeApp === AppNameRef.Simulator">
            <mat-icon matTooltip="{{activeApp}}" matTooltipPosition="after">assignment</mat-icon>
            <span class="kasi-subtitle">Simulator</span>
        </ng-container>
        <span class="kasi-toolbar-spacer"></span>
        <score [scoreCategory]="score"></score>
        <button mat-icon-button mat-icon-button color="primary" aria-label="Info" (click)="showInfo()">
            <mat-icon class="kasi-help" matTooltip="Information">help</mat-icon>
          </button>

    </mat-toolbar>
</div>
<div>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>